*{
    padding: 0;
    margin: 0;
}
body {
    background-image: url(https://media.istockphoto.com/id/187791082/vector/american-football-stadium.jpg?s=612x612&w=0&k=20&c=cdeZp-fz2Bs71XCZkSDeW7qRbbzXScPW3U421qm2_qI=);
    background-size: cover;
    font-family: 'Graduate', cursive;
}

#title{
    text-align: center;
    font-size: 100px;
}
#text-toggle {
    text-align: center;
    font-size: 30px;

}
.buttons {
    display: grid;
    column-gap: 5px;
    row-gap: 10px;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 40px;
    grid-template-columns: 60px 60px;
    grid-template-rows: 60px 60px;
    padding-top: 15px;
    
   
    
   
}

.btn {
    font-family: 'Graduate', cursive;
    
}

.player1-boxes {
    display: grid;
    grid-template-columns: 75px 75px;
    grid-template-rows: 75px 75px; 
    justify-content: right;
    margin-right: 175px;
    


    
}

.p1-box {
    display: flex;
    border: 1px solid black;
    border-radius: 40%;
    align-items: center;
    justify-content: center;
    background-color: #002244;
    color: #69BE28;
    
}
.neutral-box {
    display: flex;
    border: 1px solid black;
    border-radius: 40%;
    align-items: center;
    justify-content: center;
    background-color: rgb(184, 184, 184);
    color: red;
}

.p2-box {
    display: flex;
    border: 1px solid black;
    border-radius: 40%;
    align-items: center;
    justify-content: center;
    background-color: red;
    color: gold;
}
.neutral-boxes {
    display: grid;
    grid-template-columns: 75px 75px;
    grid-template-rows: 75px 75px;
    justify-content: center;
}

.player2-boxes {
    display: grid;
    grid-template-columns: 75px 75px;
    grid-template-rows: 75px 75px; 
    justify-content: left;
    margin-left: 175px;
    padding-bottom: 10px;
}

